---
import SiteLayout from '../layouts/default.astro';

import HowToUseThreadScribe from '../images/how_to_use_threadscribe.png';

import HowThreadScribeWorks1 from '../images/how_threadscribe_works_1.png';
import HowThreadScribeWorks3 from '../images/how_threadscribe_works_3.png';
import SlackWithNotifications from '../images/slack_with_notifications.png';

import { config } from '../config';

---
<SiteLayout>
	<div class="container py-5">
    <div class="row flex-md-row-reverse align-items-center g-5 pb-5">
      <div class="col-sm-12 col-md-6">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/PmNE2cscfHc?si=3G8GMVIg9VhPBKyP" title="ThreadScribe.ai Promo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Turn Your Threads into Insights with Our AI-Powered Chatbot</h1>
        <p class="lead my-4">
          ThreadScribe.ai is a chatbot for Slack that uses cutting-edge AI to transform your Slack conversations
          into a structured, easily searchable knowledge base.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href={config.threadScribe.installLink} role="button" class="btn btn-primary btn-lg px-4 gap-3">
            <i class="bi bi-slack"></i> <span>Add to Slack</span>
          </a>
          <a href={config.threadScribe.appHome} role="button" class="btn btn-outline-secondary btn-lg px-4">App Login</a>
          </div>
      </div>
    </div>
  </div>

  <section class="features bg-primary">
    <div class="container text-white py-5">
      <div class="row">
        <div class="col-md-4 d-flex align-items-start">
          <div class="icon-container me-3">
            <!-- Replace `bi bi-journal-text` with your preferred icon class -->
            <i class="bi bi-journal-text" style="font-size: 2rem;"></i>
          </div>
          <div class="pb-3 pb-md-0">
            <h5 class="text-uppercase fw-bold mb-1">Automated Summarization</h5>
            <p class="m-0">Utilizes cutting-edge AI to summarize lengthy discussions into concise, actionable insights, saving you time
              and enhancing decision-making.</p>
          </div>
        </div>
        <!-- Column 2 -->
        <div class="col-md-4 d-flex align-items-start">
          <div class="icon-container me-3">
            <i class="bi bi-plug" style="font-size: 2rem;"></i>
          </div>
          <div class="pb-3 pb-md-0">
            <h5 class="text-uppercase fw-bold mb-1">Seamless Integration</h5>
            <p class="m-0">Effortlessly integrates with Slack, ensuring a smooth transition from casual conversations to structured
              knowledge without disrupting your workflow.</p>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-md-4 d-flex align-items-start">
          <div class="icon-container me-3">
            <!-- Replace `bi bi-search` with your preferred icon class -->
            <i class="bi bi-search" style="font-size: 2rem;"></i>
          </div>
          <div>
            <h5 class="text-uppercase fw-bold mb-1">Enhanced Discoverability</h5>
            <p class="m-0">Transform the maze of Slack channels into a navigable treasure trove of knowledge. Dive into your team's
              collective intelligence effortlessly!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container" data-aos="fade-right" data-aos-delay="100">
      <div class="row">
        <div class="col-md-6 d-flex px-5 justify-content-center align-items-center">
          <img src={HowToUseThreadScribe.src} class="shadow-lg img-fluid img-fluid pt-3 pt-md-0"
          alt="How to use ThreadScribe" width="100%" loading="lazy">
        </div>
        <div class="col-md-6">
          <h2 class="mt-4">Find the signal through the noise with ThreaScribe.ai</h2>
          <p class="my-2">Automatically extract and synthesize your corporate knowledge</p>
          <a href={config.threadScribe.installLink} class="btn btn-primary btn-lg mt-3" role="button">
            <i class="bi bi-slack"></i> Add to Slack
          </a>
        </div>
        
      </div>
    </div>
  </section>

  <section class="bg-primary">
    <div class="container text-white text-center py-5"  data-aos="fade-right" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4">
          
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="py-3">Streamline Your Workflow with ThreadScribe.ai!</h2>
          <p class="py-3">Unleash the full potential of your team's Slack interactions by turning endless threads into a neatly organized, searchable knowledge base with ThreadScribe.ai.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5 " data-aos="fade-right" data-aos-delay="100">
    <div class="row text-center mb-4">
      <div class="col-12">
        <h2 class="mb-4">How Does ThreadScribe Work?</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 d-flex flex-column align-items-center mb-4">
        <div class="number-circle mb-3">1</div>
        <h3 class="mb-3">Find a Thread </h3>
        <img src={HowThreadScribeWorks1.src} alt="Step 1" class="img-fluid step-image">
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center mb-4">
        <div class="number-circle mb-3">2</div>
        <h3 class="mb-3">Mention @ThreadScribe</h3>
        <img src={HowToUseThreadScribe.src} alt="Step 2" class="img-fluid step-image">
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center mb-4">
        <div class="number-circle mb-3">3</div>
        <h3 class="mb-3">View your Scribes!</h3>
        <img src={HowThreadScribeWorks3.src} alt="Step 3" class="img-fluid step-image">
      </div>
    </div>
  </section>

  <section class="overwhelmed bg-primary">
    <div class="container text-white py-5" data-aos="fade-right" data-aos-delay="100">
      <div class="row">
        <div class="col-md-6 px-4">
          <img src={SlackWithNotifications.src} alt="Slack Notifications" class="img-fluid">
        </div>
        <div class="col-md-6 px-5">
          <h2 class="mb-2">Feeling Overwhelmed by Slack Notifications?</h2>
          <p class="my-2">ThreadScribe.ai uses AI to automatically summarize your slack threads into easily digestible knowledge base articles.</p>
          <a href={config.threadScribe.installLink} class="btn btn-light btn-lg mt-3" role="button">
            <i class="bi bi-slack"></i> Add to Slack
          </a>
        </div>
      </div>
    </div>
  </section>

</SiteLayout>