---
import CTAButtons from "../components/CTAButtons.astro";
import { config } from "../config";
import SiteLayout from "../layouts/BaseLayout.astro";

const title = "Pricing | ThreadScribe.ai";
const description =
  "The best AI powered chatbot for consumer experience teams. We have a pricing plan for all teams, no matter what size.";
---

<SiteLayout title={title} description={description}>
  <section class="ts-hero">
    <div class="container">
      <div class="d-flex justify-content-center text-center">
        <div class="col-12 col-lg-10">
          <div class="eyebrow">ThreadScribe Pricing</div>
          <h1>
            AI-powered solutions for customer-centric teams.<br />
            <span class="glow">Start for free.</span>
          </h1>
          <h2>ThreadScribe offers straight forward for CX teams that mean business.</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="pricing py-5">
    <div class="container">
      <div class="row gy-5">
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="plan-name">Free</h5>
              <h6 class="plan-description">
                AI-chat companion for Slack. Instantly summarize lengthly threads and uncover
                insights, fast!
              </h6>
              <div class="d-flex align-items-center">
                <p class="price">$0</p>
              </div>
              <hr />
              <a class="btn btn-lg btn-outline-primary" href={config.threadScribe.installLink}
                >Start free</a
              >
              <hr />

              <span class="plan-features-header">All accounts include:</span>
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-check"></i>
                  Unlimited Thread Summaries
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Basic Search Functionality
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Web and Mobile Access to ThreadScribe.ai
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Integration with Slack
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Help Center & Email Support
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="plan-name">Business</h5>
              <h6 class="plan-description">
                Build your own private consumer experience data hub with real-time indexing and
                search features.
              </h6>
              <div class="d-flex align-items-center">
                <p class="price">$99</p>
                <p class="price-details align-middle">
                  / user / month billed yearly or $130 billed monthly
                </p>
              </div>
              <hr />
              <a class="btn btn-primary btn-lg" href={config.threadScribe.installLink}>Start free</a
              >
              <hr />
              <div class="plan-features-header">Everything in Free, plus:</div>
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-check"></i>
                  Automated Channel Digests
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Scheduled channel summaries
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Intelligent Keyword Notifications
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Sophisticated Access Controls
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Premium Support & Dedicated Onboarding
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="plan-name">Enterprise</h5>
              <h6 class="plan-description">
                For organizations that want to leverage the power of AI at scale but need additional
                security, control, and support.
              </h6>
              <div class="d-flex align-items-center">
                <p class="price">
                  <i class="bi bi-chat-dots-fill"></i>
                </p>
                <p class="price-details">Contact sales for pricing or to request a demo</p>
              </div>
              <hr />
              <a class="btn btn-outline-primary btn-lg" href={config.bookingLink}>Contact sales</a>
              <hr />
              <div class="plan-features-header">Everything in Business, plus:</div>
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-check"></i>
                  Real-time Channel & Thread Indexing
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Dedicated Hosting
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Service & Uptime Commitment
                </li>
                <li>
                  <i class="bi bi-check"></i>
                  Slack Enterprise Support & Integration
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5 mb-5 pricing-features">
    <div class="row pb-3">
      <div class="col">
        <h2>What's included</h2>
        <p>Get started with dozens of out of the box features.</p>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-4">
      <div class="col">
        <div class="feature-icon">
          <i class="bi bi-chat-dots-fill"></i>
        </div>

        <div class="feature-title">AI Chat Companion</div>
        <ul class="list-unstyled">
          <li>Ad-hoc thread summaries</li>
          <li>Automated digests</li>
          <li>Keyword notifications</li>
        </ul>
      </div>

      <div class="col">
        <div class="feature-icon">
          <i class="bi bi-search"></i>
        </div>

        <div class="feature-title">Context Aware Search</div>
        <ul class="list-unstyled">
          <li>Globabl semantic search</li>
          <li>Search summaries</li>
          <li>Natural language processing</li>
        </ul>
      </div>

      <div class="col">
        <div class="feature-icon">
          <i class="bi bi-file-earmark-lock"></i>
        </div>

        <div class="feature-title">Knowledge Base</div>
        <ul class="list-unstyled">
          <li>Bring your own data</li>
          <li>3rd party integrations</li>
          <li>Automatic ingestion</li>
        </ul>
      </div>

      <div class="col">
        <div class="feature-icon">
          <i class="bi bi-building-up"></i>
        </div>

        <div class="feature-title">Enterprise Ready</div>
        <ul class="list-unstyled">
          <li>Dedicated CSM</li>
          <li>Data segregation</li>
          <li>SLA Commitment</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="ts-banner">
    <div class="container">
      <div class="row py-5 text-center">
        <div class="col">
          <h1 class="py-5">
            Get started <span class="glow">in minutes</span>
          </h1>

          <CTAButtons isDark="true" />
        </div>
      </div>
    </div>
  </section>
</SiteLayout>
