---
import Logo from "../images/threadscribe_logo_64.jpg";

import { config } from "../config";
---

<div class="container">
  <footer class="pt-5">
    <div class="row">
      <div class="col-12 col-md-3 align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src={Logo.src} width="24" height="24" />
        </a>
        <span class="mb-3 mb-md-0 fw-bold text-body-secondary">ThreadScribe.ai</span>

        <p class="fs-6 fw-lighter mt-4 text-muted">
          Transform Slack Chatter into Actionable Insights.
        </p>
        <p class="fs-6 fw-lighter text-muted">Aloha, &#129305; &#129782</p>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="/" class="nav-link p-0 text-body-secondary">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="/pricing" class="nav-link p-0 text-body-secondary">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="/blog" class="nav-link p-0 text-body-secondary">Blog</a>
          </li>
          <li class="nav-item mb-2">
            <a href="/careers" class="nav-link p-0 text-body-secondary">Careers</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href={config.threadScribe.installLink} class="nav-link p-0 text-body-secondary"
              >Install</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href={config.threadScribe.appHome} class="nav-link p-0 text-body-secondary">Login</a>
          </li>
          <li class="nav-item mb-2">
            <a href="/privacy" class="nav-link p-0 text-body-secondary">Privacy</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-5 mb-3">
        <p class="fs-5 fw-bold">Submit your email to get started today!</p>
        <script async data-uid="cf1a2e6f1e" src="https://threadscribeai.ck.page/cf1a2e6f1e/index.js"
        ></script>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
      <div>
        <p class="fs-6 text-muted">&copy; 2024 ThreadScribe.ai | All rights reserved.</p>
      </div>

      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-muted" href={config.social.linkedIn}><i class="bi bi-linkedin"></i></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href={config.social.facebook}><i class="bi bi-facebook"></i></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href={config.social.twitter}><i class="bi bi-twitter"></i></a>
        </li>
      </ul>
    </div>
  </footer>
</div>
